.public-repo-a, .private-repo-a{
    color:white;
}

.public-repo, .private-repo{
    margin-left:13%;
    margin-bottom: 0px;
    margin-top: 0px;
}

.logout-btn{
    margin-top: 5px;
}

.github-p{
    margin-bottom: 0px;
}

.logout-a{
    color:white;
    margin-left: 2px;
}